<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome do evento</ion-label>
      <ion-input [(ngModel)]="newEvent.nome" name="name" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!newEvent.id">
      <ion-label position="floating">Tipo</ion-label>
      <ion-select [(ngModel)]="newEvent.tipo" name="eventType">
        <ion-select-option *ngFor="let tipo of tipoEventoList" [value]="tipo.value">
          {{ tipo.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!newEvent.id">
      <ion-label position="floating">Clube</ion-label>
      <ion-select [(ngModel)]="newEvent.clube" name="clubId">
        <ion-select-option *ngFor="let club of clubList" [value]="club">{{ club.nome }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="registerEvent()">{{newEvent.id ? "Atualizar" : "Cadastrar"}}</ion-button>
</ion-content>
