<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Modalidades</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid class="center-content">
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-datetime
            presentation="date"
            [(ngModel)]="datetime"
          ></ion-datetime>
          <ion-button expand="full" (click)="showTraining()"
            >Visualizar Treino</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
