<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let event of events">
      {{ event.nome }} - {{ event.clube.nome }}
      <ng-container *ngIf="!isTREINADOR">
        <ion-button slot="end" (click)="linkToEvent(event)" *ngIf="!linkedEventId">
          Vincular
        </ion-button>
        <ion-button slot="end" (click)="unlinkFromEvent(event)" *ngIf="isLinkedToEvent(event.id)" color="danger">
          Desvincular
        </ion-button>
      </ng-container>

      <ng-container *ngIf="isTREINADOR">
        <ion-buttons slot="end">
          <ion-button (click)="editEvent(event)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <!-- <ion-button color="danger" (click)="deleteEvent(event.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button> -->
        </ion-buttons>
      </ng-container>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isTREINADOR">
    <ion-fab-button (click)="openEventRegistrationModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
