<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Membros do clube {{ clubName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let club of clubs">
      <ion-label>
        <h2>{{ club.nome }}</h2>
        <p>Quantidade: {{ club.quantidadeMembros }}</p>
      </ion-label>
      <ion-button
        slot="end"
        color="primary"
        (click)="viewUsers(club)"
        *ngIf="isTREINADOR"
      >
        Visualizar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
