<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro da sessão de treinamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Feedback do treino</ion-label>
      <ion-input [(ngModel)]="feedbackTreino" name="feedback" type="text" placeholder="Insira o feedback"></ion-input>
    </ion-item>

    <ion-grid *ngFor="let exercicio of treino.exercicios; let i = index">
      <ion-row class="ion-align-items-center">
        <ion-col size="6">
          <ion-label>{{ exercicio.tipo }}. {{ exercicio.descricao }}</ion-label>
        </ion-col>

        <ion-col size="4">
          <ion-input *ngIf="exercicio.tipo === 'VELOCIDADE'" [(ngModel)]="exercicio.tempo" type="number"
            placeholder="Tempo (s)" name="tempo-{{ i }}" min="0" step="0.01"></ion-input>
        </ion-col>

        <ion-col size="2">
          <ion-checkbox [(ngModel)]="exercicio.concluido" name="concluido-{{ i }}"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-button expand="full" (click)="salvarSessaoTreino()">Cadastrar</ion-button>
</ion-content>
