<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="user-info-card">
    <ion-card-header>
      <ion-avatar class="user-avatar">
        <img src="assets/default-avatar.jpg" alt="User Avatar" />
      </ion-avatar>
      <ion-card-title class="ion-text-center">{{ email }}</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{ funcao }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-list lines="none">
        <ion-item>
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Clube</h3>
            <p>{{ userInfo.club }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Email</h3>
            <p>{{ userInfo.email }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="userInfo.club === 'Sem Clube'">
          <ion-input placeholder="Insira o código do clube" [(ngModel)]="clubCode" (keyup.enter)="updateClub()">
          </ion-input>
          <ion-button (click)="updateClub()">Entrar</ion-button>
        </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>
</ion-content>
