<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card class="user-info-card">
    <ion-card-header>
      <ion-avatar class="user-avatar">
        <img src="assets/default-avatar.jpg" alt="User Avatar" />
      </ion-avatar>
      <ion-card-title class="ion-text-center">{{ email }}</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{ funcao }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="openEditDialog()">
        Alterar nome/email
      </ion-button>

      <ion-list lines="none" class="password-list">
        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input
            type="password"
            placeholder="Senha atual"
            [(ngModel)]="senhaAtual"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input
            type="password"
            placeholder="Nova senha"
            [(ngModel)]="senhaNova"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input
            type="password"
            placeholder="Confirmar nova senha"
            [(ngModel)]="confirmarSenha"
            required
          ></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="changePassword()">
          Alterar senha
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
